@tailwind base;
@tailwind components;
@tailwind utilities;


.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: 'Inter', sans-serif !important;
    /* padding: 20px;
    border-radius: 15px; */
}

.react-calendar__tile{
    border: 1px dashed transparent !important;
}

.react-calendar__tile:hover{
    background-color: rgb(226, 242, 247) !important;
    border-radius: 5px;
    border: 1px dashed transparent !important;
}

.react-calendar__tile--now{
    background-color: white !important;
    border-radius: 5px;
    border: 1px dashed #d9eef6 !important;
}

.react-calendar__tile--active{
    background-color: #c3ebfa !important;
    color: black !important;
    border-radius: 5px;
    border: 1px dashed transparent !important;
}

.react-calendar__navigation__label{
 border-radius: 5px;
}
.react-calendar__navigation__label:hover{
    background-color: rgb(226, 242, 247) !important;
    border-radius: 5px;
   }
.react-calendar__navigation__label__labelText{
    font-weight: 600;
}

.react-calendar__navigation__arrow:hover{
    background-color: rgb(226, 242, 247) !important;
    border-radius: 5px;
}
.react-calendar__navigation__prev-button:hover{
    background-color: rgb(226, 242, 247) !important;
    border-radius: 5px;
}

/* Untuk Chrome, Safari, dan Edge */
.sidebar {
    -webkit-overflow-scrolling: touch; /* Smooth scrolling */
    overflow-y: scroll; /* Mengaktifkan scroll */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Menyembunyikan scrollbar di WebKit */
  .sidebar::-webkit-scrollbar {
    display: none;
  }

  /* Untuk Firefox */
.sidebar {
    scrollbar-width: none; /* Menyembunyikan scrollbar */
  }
  